################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/ProjectSettings.json
/.vs/replicode-releases
/.vs/replicode-releases/CopilotIndices/17.13.430.18484
/.vs/replicode-releases/CopilotIndices/17.13.430.18484/CodeChunks.db
/.vs/replicode-releases/CopilotIndices/17.13.430.18484/CodeChunks.db-shm
/.vs/replicode-releases/CopilotIndices/17.13.430.18484/CodeChunks.db-wal
/.vs/replicode-releases/CopilotIndices/17.13.430.18484/SemanticSymbols.db
/.vs/replicode-releases/CopilotIndices/17.13.430.18484/SemanticSymbols.db-shm
/.vs/replicode-releases/CopilotIndices/17.13.430.18484/SemanticSymbols.db-wal
/.vs/replicode-releases/FileContentIndex
/.vs/replicode-releases/FileContentIndex/4ab075d1-af80-4310-999c-72b13e8b4b83.vsidx
/.vs/replicode-releases/v17
/.vs/replicode-releases/v17/.wsuo
/.vs/replicode-releases/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.gitignore
